
/* AuthWrapper.css */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background: radial-gradient(circle at center, #00000042, #ffffff38, #0000808b), url(../assets/Auth_background.png);
}

.auth-container {
  width: 100%;
  max-width: 450px;
  background: #bfdbbf70;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: .4rem;
  position: relative;
  overflow: hidden;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}